header,footer,main{
width: 80%;
margin-right: auto;
margin-left : auto;
                  }
header,footer{
height: 100px;
text-align: center;
        }
header{
background-color: #F2F5A9;
        }
footer{
background-color: #CEF6F5;
        }
main{
height: 500px;
background-color: #F6CEF5;
        }

